.header-series {
    background-color: #ff6600;
    color: white;
    padding: 2rem 0;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.principal-body {
    background-color: #ff9e5d;
}